@import 'partials/variables';
@import 'partials/type';
@import 'partials/form';
@import 'partials/buttons';
@import 'partials/cards';
@import 'partials/messages';
@import 'partials/grid';
@import 'partials/helpers';

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  // -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: 16px;
}

body {
  background: #F8F9FB;
  font-family: $font;
  line-height: $line-height;
  margin: 0;
  padding: 0;
  &.no-scroll {
    overflow: hidden
  }
}

ul, ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: $black;
  text-decoration: none;
}
