@import 'partials/variables';
@import 'partials/type';
@import 'partials/inputs';
@import 'partials/buttons';
@import 'partials/cards';
@import 'partials/messages';
@import 'partials/grid';

* {
  box-sizing: border-box;
}

html {font-size: 16px;}

body {
  font-family: $font;
  line-height: 1.45;
  margin: 0;
  padding: 0;
}
