.svg-ico {
  fill: $secondary;
  transition: fill $transition-time;
  &:hover,
  &.active {
    fill: $primary
  }
}

.page {
  // padding: 1rem;
  &-section {
    padding: 1rem;
    .page-title {
      color: $neutral_4;
      margin-top: 0;
      font-size: 1.8rem;
    }
  }
}

.card {
  background: $white;
  box-shadow: 0 0 2px rgba(232,232,232,0.7);
  border-radius: $border-radius;
  padding:2rem;
}